.wow-avatar__frame {
  box-shadow: 0 0 10px black;
  //display: inline-block;
  padding: 1px;
  background-color: black;
  background-position: 1px 1px;
  background-repeat: no-repeat;
  border-radius: 3px;
  border: 1px solid #434445;
  border-bottom-color: #243032;
  border-top-color: #b1b2b4;
}
