<div class="section section--{{ name }}">
  <div class="container container--{{ name }}">
    {% block section_container_content %}
      <h1>Section_container content goes here</h1>
    {% endblock %}
  </div>
</div>
