/*fix shoutbox weirdness */
#shoutbox-body{ margin: 0 0 25px; background-color: #eeeeee; padding:6px;}
div.shoutbox-msg{ padding: 0; font-size:1.4em;}
div.shoutbox-msg p{ display:inline; font-size:1em;}
div.shoutbox-msg b{ font-weight: bolder; font-variant: small-caps; color: #666666; text-decoration: underline; }
.shoutbox-add-form #edit-0{display:inline;}
.shoutbox-add-form input.form-text { width: 80%; display: inline; }
.shoutbox-add-form input.textarea { width: 80%; }
.shoutbox-add-form .form-item{ display: inline; }

/*fix content-bottom blocks to align next to each other */
#content-bottom .block { display: inline-block; clear:none;}
#content-bottom .block-odd {margin-right:3%; margin-left:3%;}
#content-bottom .block-even {margin-right:3%; margin-left:3%;}

/*class needs block*/
.classneeds {border:2px solid red;}
.classneeds ul {margin-left:0px;}

/*class icons for the guild apps view*/
.view-class-icon{padding-top: 32px; height:0px; overflow:hidden; background-repeat:no-repeat; background-position:center center;}
.view-class-Druid{background-image:url(images/icons/32_Druid.png);}
.view-class-Hunter{background-image:url(images/icons/32_Hunter.png);}
.view-class-Mage{background-image:url(images/icons/32_Mage.png);}
.view-class-Paladin{background-image:url(images/icons/32_Paladin.png);}
.view-class-Priest{background-image:url(images/icons/32_Priest.png);}
.view-class-Rogue{background-image:url(images/icons/32_Rogue.png);}
.view-class-Shaman{background-image:url(images/icons/32_Shaman.png);}
.view-class-Warlock{background-image:url(images/icons/32_Warlock.png);}
.view-class-Warrior{background-image:url(images/icons/32_Warrior.png);}
.view-class-Death{background-image:url(images/icons/32_Death_Knight.png);}

/*make event times clearer*/
.event-nodeapi .dtstart{background-color:#66ff7f; padding-left:1em; padding-bottom:1em;}

/*fix cal popup comment*/
#calpopup-body li.comment_add{background-image:none;}

/*raid hub fixes*/
#raid-actions ul{height:40px; list-style:none; margin:0 0 20px 0; overflow: hidden; width:100%;}
#raid-actions ul li{height:40px; margin:0px; display:block; float:right; line-height:40px; overflow:hidden; width: 180px; padding:0px;}
#raid-actions ul li a{padding-left: 44px; display:block;}
li#add-event{background: url(images/add-event.png) left center no-repeat scroll;}
li#add-group{background: url(images/add-group.png) left center no-repeat scroll;}
li#add-toon{background: url(images/add-toon.png) left center no-repeat scroll;}

/*groups pages fix*/
.og-mission{min-height: 4em; }

/*icecrown strat block*/
#sidebar-right #block-menu-menu-icecrown-strats h2.title{
    background: url(images/icecrown_strats.jpg) no-repeat scroll;
    color:transparent;
    text-indent:-9999px;
    height: 180px;
}

/*header-shirts*/
#shirts{border:2px solid #3d3d3d; width:300px; float:right; padding:3px;}
#shirts img{float:left;}
#mission #shirts a, #mission #shirts a:link, #mission #shirts a:active{color:white; font-size:150%;}
#shirts p {text-align:right; padding-right:10px;}

/*fix gallery*/
ul.images{
  padding: 0;	
}
.view .image-gallery-nodes ul li{
  width: auto;
  height: auto;
}
.item-list ul.images li{
  padding: 0;
}