# PHPStorm
.idea/workspace.xml
.idea/tasks.xml
.idea/dataSources.ids
.idea/dataSources.local.xml
.idea/dataSources.xml
.idea/deployment.xml

# Packages
node_modules

# Vagrant specific
.vagrant
env/puphpet/puppet/.tmp

env/puphpet/files/dot/ssh/*
!env/puphpet/files/dot/ssh/.gitkeep
!env/puphpet/files/dot/ssh/insecure_private_key

# Keep drupal generated folders around for web roots
#project/web/drupal/d*/*
#!project/web/drupal/d*/.gitkeep
project/web/*
!project/web/.gitkeep

drupal-vm
