.idea/workspace.xml
.idea/tasks.xml
.idea/dataSources.ids
.idea/dataSources.local.xml
.idea/dataSources.xml

# Vagrant specific
.vagrant
env/puphpet/files/dot/ssh/*
!env/puphpet/files/dot/ssh/.gitkeep
!env/puphpet/files/dot/ssh/insecure_private_key

# Project specific
node_modules
project/web
