<nav class="navbar navbar-primary actions">
  <div class="container-fluid">
    <ul class="nav navbar-nav">
      <li class="active">
        <a href="#">
          <i class="material-icons">explore</i> View
        </a>
      </li>
      <li>
        <a href="#">
          <i class="material-icons">mode_edit</i> Edit
        </a>
      </li>
      <li>
        <a href="#">
          <i class="material-icons">settings</i> Devel
        </a>
      </li>
      <li>
        <a href="#comment-form">
          <i class="material-icons">comment</i> Comment
        </a>
      </li>
    </ul>
  </div>
</nav>
