<ul class="nav nav-pills nav-pills-primary">
  {% for link in links  %}
    <li {% if loop.index == 1 %}class="active"{% endif %}>
      <a href="#" data-toggle="tab" >{{ link.text }}</a>
    </li>
  {% endfor %}
</ul>
