{% include "@organisms/site/site-nav/site-nav.twig" %}
{% include "@molecules/headers/header.twig" with header %}

<div class="main main-raised">

  {% block content %}
    <h2>Site Content Here</h2>
  {% endblock %}
</div> <!-- /.main -->

<div class="subsection">
  {% block sub %}
    {% embed '@atoms/layout/section-container.twig' with { 'name': 'raid-activity' } %}
      {% block section_container_content %}

        <div class="row">
          <div class="col-sm-12">
            <h2 class="title text-center">Downfall Raid Stuff</h2>
            <br>
          </div>
        </div>

        {% embed '@atoms/layout/columns-4-4-4.twig' with { 'name': 'raid-activity'} %}
          {% block first %}
            {% include "@molecules/cards/card-white.twig" with subsection.left %}
          {% endblock %}
          {% block second %}
            {% include "@molecules/cards/card-white.twig" with subsection.middle %}
          {% endblock %}
          {% block third %}
            {% include "@molecules/cards/card-white.twig" with subsection.right %}
          {% endblock %}
        {% endembed %}

      {% endblock section_container_content %}
    {% endembed %}
  {% endblock sub %}
</div>

{% include "@organisms/site/site-footer/site-footer.twig" %}
