<div class="top-bar df-top-bar">
  <div class="top-bar-left">
    <ul class="menu">
      <li class="menu-text"><a href="/"><img class="top-bar__logo" src="{{root}}assets/img/dflogo-white.svg"/>Downfall Guild</a></li>
      <li><a href="#">Posts</a></li>
      <li><a href="#">Articles</a></li>
      <li><a href="#">Media</a></li>
      <li><a href="#">Raids</a></li>
      <li><a href="#">About</a></li>
    </ul>
  </div>
  <div class="top-bar-right">
    <ul class="menu">
      <li><input type="search" placeholder="Search"></li>
      <li><button type="button" class="button">Search</button></li>
    </ul>
  </div>
</div>