<div class="top-bar df-top-bar">
  <div class="top-bar-left">
    <ul class="menu">
      <li class="menu-text">
        <a href="index.html">
          <!--<img class="top-bar__logo" src="{{root}}assets/img/dflogo-white.svg"/>-->
          <span>Downfall Guild</span>
        </a>
      </li>
      <li><a href="posts.html">Posts</a></li>
      <li><a href="posts.html">Articles</a></li>
      <li><a href="#">Media</a></li>
      <li><a href="#">Raids</a></li>
      <li><a href="#">About</a></li>
    </ul>
  </div>
  <div class="top-bar-right">
    <ul class="menu">
      <li><a href="#"><i aria-hidden="true" class="fi-account-login"></i>Login</a></li>
      <li><a href="#"><i aria-hidden="true" class="fi-funnel"></i>Register</a></li>
      <li><a href="#"><i aria-hidden="true" class="fi-magnifying-glass"></i>Search</a></li>
    </ul>
  </div>

</div>
