<aside class="info aside">
  <div class="icon icon-primary text-center">
    <i class="material-icons">{{ attribute(icons, icon) }}</i>
  </div>
  <h4 class="info-title text-center">{{ title }}</h4>

  {% block content %}
    <p>Aside content. Aside content. Aside content. Aside content.</p>
  {% endblock %}

  <div class="text-center">
    {% include "@atoms/buttons/button.twig" with {
      'button_icon': icon,
      'button_round': true,
      'button_text': cta|default('More Stuff')
    } %}
  </div>

</aside>
