{% extends "@molecules/asides/aside.twig" %}

{% block content %}
  {% for comment in comments %}
    <div class="content-list__item">
      {% include "@molecules/cards/card-comment.twig" with { 'comment': comment } %}
    </div>
  {% endfor %}
{% endblock %}
