/* $Id: wowarmory.css,v 1.1 2008/10/09 03:14:38 nhdriver4 Exp $ */

.Druidtxt { color:#FF7C0A; }
.Huntertxt { color:#AAD372; }
.Magetxt { color:#68CCEF; }
.Paladintxt { color:#F48CBA; }
.Priesttxt { color:#ffffff; }
.Roguetxt { color:#FFF468; }
.Shamantxt { color:#00DBBA; }
.Warlocktxt { color:#9382C9; }
.Warriortxt { color:#C69B6D; }