<a href="#media-modal" data-toggle="modal" data-modal-media="{{ img_path(thumb.full, is_pl) }}" data-modal-title="{{ thumb.title }}" class="thumbnail">
  {% include "@atoms/images/image-thumb.twig" with {
    img: {
      thumb: {
        src: thumb.src,
        alt: thumb.alt,
      }
    }
  } %}
  {#<p>Truncated caption goes here ...</p>#}
</a>
