{# Demo this in PL #}
{% if is_pl and not thumbs %}
  {% set thumbs = [] %}
  {% for node in nodes if node.type == 'media' %}
    {% set thumb = {
      src: node.img.thumb.src,
      full: node.img.landscape_large.src,
      title: node.title,
    } %}
    {% set thumbs = thumbs|merge([thumb]) %}
  {% endfor %}
{% endif %}

<div class="media-grid">

    <div class="row media-grid__top">
      <div class="col-sm-12">
        <div class="filter-top">
          {% include "@molecules/navs/nav-tabs.twig" with {
            links: [
              {url: '#', text: 'All'},
              {url: '#', text: 'Images'},
              {url: '#', text: 'Videos'},
              ]
          }%}
        </div>
      </div>
    </div>

    <div class="media-grid__content row">
      {% for thumb in thumbs %}
        <div class="col-sm-3 thumb">
          {% include "@molecules/thumbs/thumbnail-modal.twig" with { 'thumb': thumb } %}
        </div>
      {% endfor %}
    </div>
    <div class="row">
      <div class="col-sm-12">
        {% include "@atoms/navs/pagination.twig" %}
      </div>
    </div>

</div>
