<div class="raids-grid">
  <div class="raids-grid__top filter-top row">
    <div class="col-sm-12">
      <h2 class="title text-center">{{ 'Downfall Raids'|t  }}</h2>
      <br>
    </div>

    <div class="pull-left">
      {% include "@molecules/navs/nav-tabs.twig" with {
        links: [
          {url: '#', text: 'Active'},
          {url: '#', text: 'Retired'},
          {url: '#', text: 'All'},
        ]
      }%}
    </div>
    <div class="pull-right">
      {% include "@molecules/navs/dropdown.twig" %}
    </div>

  </div>

  <div class="raids-grid__content row">

    {% for raid in raids %}
      <div class="col-sm-4 thumb">
        {% include "@molecules/cards/card-full-bg-raid.twig" with {
          title: raid.title,
          img: {
            landscape_medium: {
              src: (raid.image) ? raid.image : img.landscape_medium.src
            }
          },
          info: raid.info,
          teaser: raid.slogan,
          icon: raid.icon,
          member_count: raid.member_count,
          joined: raid.joined,
          latest: raid.latest_content
        }%}
      </div>
      {% if loop.index is divisible by(3) %}
        <div class="clearfix"></div>
      {% endif %}

    {% endfor %}
  </div>
  <div class="row">
    <div class="col-sm-12">
      {% include "@atoms/navs/pagination.twig" %}
    </div>
  </div>
</div>
