<div class="post post--thin">
  <a class="post__avatar" href="#">
    <img class="thumbnail df-avatar" src="{{root}}assets/img/avatars/avatar-1.jpg">
  </a>

  <div class="post__content">
    <h5 class="post__title">Title goes here</h5>
    <p class="post__byline">about 1 hour ago by <strong>AuthorName</strong></p>
    <a class="small button hollow secondary">Label 1</a>
    <a class="small button hollow warning">Label 2</a>
    <a class="small button hollow success">Label 3</a>

  </div>

  <div class="post__comment-count text-center">
    <div class="stat">55</div>
    <p>Comments</p>
    <span>2,100</span>
    <p>Views</p>
  </div>
</div>