<div class="post post--thin">

  <div class="post__information">

    <div class="post__left">
      <a class="post__avatar" href="#">
        <img class="thumbnail df-avatar" src="{{root}}assets/img/avatars/{{avatar}}">
      </a>
    </div>

    <div class="post__middle">
      <h5 class="post__title"><a href="post-detail.html">{{title}}</a></h5>
      <p class="post__byline">about 1 hour ago by <a href="#">{{author}}</a></p>

      {{#each tags}}
        <a class="small button hollow {{type}}">{{tag}}</a>
      {{/each}}

    </div>

    <div class="post__right">
      <div class="post__comment-count text-center">
        <div class="stat">{{stats.comments}}</div>
        <p>Comments</p>
      </div>
      <div class="post__view-count text-center">
        <span>{{stats.views}}</span>
        <p>Views</p>
      </div>
    </div>

  </div>
</div>