<div class="sidebar-block primary callout">
  <h5>Sidebar block</h5>
  <div class="sidebar-block__inner">
    <ul>
      <li>Thing 1</li>
      <li>Thing 1</li>
      <li>Thing 1</li>
    </ul>
  </div>
</div>