<div class="df-block">
  <div class="df-block__icon">
    <i class="fi-list-nested iconic-md"></i>
  </div>
  <h3 class="df-block__title">Recent Posts</h3>
  <div class="df-block__content">
    <div class="sidebar-posts-list">
      {{#each posts}}
        <div class="sidebar-posts-list__item">
          {{> post tiny="true"}}
        </div>
      {{/each}}
    </div>
  </div>
</div>