.raid-member {
  margin: 0 auto $padding-base * 2;
  max-width: 250px;
  //height: 200px;
  //position: relative;
}
.raid-member__graphics {
  position: relative;
  height: 100px;
  margin: 0 $padding-base;
}
.raid-member__class {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  opacity: 0.75;
  &:hover {
    opacity: 1;
  }
}

.raid-member__wow-avatar {
  width: 54px;
}
.raid-member__spec {
  position: relative;
  width: 26px;
}
//.raid-member__spec-name {
//  display: flex;
//  flex-direction: column;
//  justify-content: space-around;
//  color: rgba(255, 255, 255, 0.5);
//}
.raid-member__role {
  position: absolute;
  right: -8px;
  bottom: 0;
}
.raid-member__name {
  margin-bottom: 0;
}

.raid-member__details {
  display: flex;
  z-index: 1;
  position: relative;;
}
.raid-member__details-right {
  flex: 1 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
