<div class="row columns-4-4-4 columns-4-4-4--{{ name }}">
  <div class="col-sm-4">
    {% block first %}
      <p>First column</p>
    {% endblock %}
  </div>
  <div class="col-sm-4">
    {% block second %}
      <p>Second column</p>
    {% endblock %}
  </div>
  <div class="col-sm-4">
    {% block third %}
      <p>third column</p>
    {% endblock %}
  </div>
</div>
