<div class="section section-image section--{{ name }} full-bg full-bg--{{ name }}" style="background-image: url({{ image_path }})">
  <div class="container container--{{ name }}">
    {% block full_bg_content %}
      <h1>Section_container content goes here</h1>
    {% endblock %}
  </div>
</div>
