.comments {
  margin-bottom: 1rem;
}
.comment {
  border-top: 1px solid $light-gray;
}
.comment__container {
  padding: 2rem 0 1rem;
  display: flex;
}
.comment__left {
  margin-right: 2rem;
  // flex-grow: 0: don't grow
  // flex-shrink: 0: don't shrink,
  // flex-basis: 3.5rem: start at 3.5rem
  flex: 0 0 3.5rem;
}
.comment__avatar {
  //width: 4rem;
}
.comment__right {
  flex-grow: 1;
}
.comments__wrapper-count-title,
.comments__wrapper-form-title {
  font-weight: 700;
  margin-bottom: 2rem;
}
.comment__information {
  color: $dark-gray;
  //a {
  //  color: $dark-gray;
  //}
}
.comment__author {
  font-weight: 700;
}
.comment {
  .indented {
    margin-left: 5.5rem;
  }
}
.comment__controls {
  margin-top: 1rem;
}

.comment--tiny {
  border-top: none;
  .comment__container {
    padding: 0;
    //display: block;
  }
  .comment__left {
    margin-right: 1rem;
    flex-basis: 3rem;
  }
  .df-avatar__username {
    display: none;
  }
  .comment__information {
    font-size: 0.75rem;
  }
}