.df-top-bar {
  background: url("../img/df-triangles.png") repeat;
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
}
.top-bar__logo {
  //display: inline-block;
  width: 1.5rem;
  margin-top: -.25rem;
}
.top-bar__name {
  color: $dark-gray;
//  text-overflow: clip;
//  white-space: pre;
//  text-shadow: 0 0 10px rgba(255,255,255,1) , 0 0 20px rgba(255,255,255,1) , 0 0 30px rgba(255,255,255,1) , 0 0 40px #ff00de , 0 0 70px #ff00de , 0 0 80px #ff00de , 0 0 100px #ff00de ;
//  transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
//
//  &:hover {
//    text-shadow: 0 0 10px rgba(255,255,255,1) , 0 0 20px rgba(255,255,255,1) , 0 0 30px rgba(255,255,255,1) , 0 0 40px #00ffff , 0 0 70px #00ffff , 0 0 80px #00ffff , 0 0 100px #00ffff ;
//  }
}
