@mixin trans() {
  transition: all 0.5s ease;
}
.trans {
  @include trans();
}
@mixin df-dark-hover() {
  @include trans();
  color: $black;
  &:hover {
    color: $anchor-color-hover;
    //text-shadow: $primary-color 0 0 10px;
  }
}
.df-dark-hover {
  @include df-dark-hover();
}

@mixin center-both() {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

::selection {
  background: $primary-color;
  color: $white;
}
svg {
  fill: currentColor;
}