.posts-header {
  padding-bottom: 1rem;
  margin-bottom: 1rem;
  border-bottom: 1px solid $light-gray;
}
.posts-list {
  margin: 1rem 0;
}
.post__information {
  display: flex;
  padding: 1rem;
  .post__left {
    margin-right: 2rem;
  }
  .post__middle {
    flex-grow: 1;
  }
  .post__right {
    margin-left: 2rem;
  }
}
.post__right {
  color: $secondary-color;
}

.post__title {
  font-weight: $global-weight-light;
}
.post__title a {
  //@include df-dark-hover();
}
.post__byline {
  color: $secondary-color;
}
.post__comment-count,
.post__view-count {
  font-weight: 300;
}

.post__controls {
  //border-top: 1px solid $light-gray;
  margin-top: 2rem;
  background-color: $color--very-light;
}

// Full detail page
.post--full {
  .post__comment-count,
  .post__view-count {
    display: inline-block;
    margin-left: 1rem;
  }
  .post__view-count {
    margin-left: 1rem;
  }
}
.post__body {
  margin-top: 2rem;
  img {
    margin: 1rem 0;
  }
}
// Posts listing page
.post--thin {
  @include trans();
  border-bottom: 1px solid $light-gray;
  &:hover {
    background: $color--very-light;
  }
  .post__title {
    font-weight: $global-weight-normal;
  }
  .post__information {
    padding-top: 2rem;
  }
}

// Posts with a teaser, frontpage
.post--vertical {
  .post__title {
    margin-bottom: 1rem;
  }
  .post__title a {
    @include df-dark-hover();
  }
  .post__information .post__title {
    display: none;
  }
  .post__comment-count,
  .post__view-count {
    display: inline-block;
    margin-left: 1rem;
  }
}

// Posts listed in sidebar block
.post--tiny {
  .post__title {
    font-size: 1rem;
    font-weight: $global-weight-normal;
    a {
      //color: inherit;
    }
  }
  .post__information {
    display: block;
    padding: 0;
  }
  .post__left,
  .post__right {
    display: none;
  }
  .post__byline {
    font-size: 0.75rem;
  }
  .post__tags-buttons {
    display: none;
  }
}