.sidebar-block {
  margin: 3rem 0;
}
.sidebar-block__title {
  margin-bottom: 2rem;
  font-size: 1rem;
  text-transform: uppercase;
}

.sidebar-block__title-icon {
  color: $dark-gray;
}

.sidebar-list__item {
  margin: 1rem 0;
}
