// Hard coding these strictly for show, will actually use Material Kit vars
$c-brand-primary: #9c27b0; // material-kit/_variables.scss:$brand-primary
$c-brand-success: #4caf50; // material-kit/_variables.scss:$brand-success
$c-brand-danger: #f44336; // material-kit/_variables.scss:$brand-danger
$c-brand-warning: #ff9800; // material-kit/_variables.scss:$brand-warning
$c-brand-info: #00bcd4; // material-kit/_variables.scss:$brand-info
$c-brand-rose: #e91e63; // material-kit/_variables.scss:$brand-rose

$c-text-color-light: #ffffff;
$c-text-color-primary: #3C4858;

// Wow Class Colors
$c-wowclass-death-knight: #C41F3B;
$c-wowclass-demon-hunter: #A330C9;
$c-wowclass-druid: #FF7D0A;
$c-wowclass-hunter: #ABD473;
$c-wowclass-mage: #69CCF0;
$c-wowclass-monk: #00FF96;
$c-wowclass-paladin: #F58CBA;
$c-wowclass-priest: #FFFFFF;
$c-wowclass-rogue: #FFF569;
$c-wowclass-shaman: #0070DE;
$c-wowclass-warlock: #9482C9;
$c-wowclass-warrior: #C79C6E;
