.header-hero {
  color: $white;
  position: relative;
  background-position: center top;
  background-attachment: fixed;
  padding-top: 1rem;
  height: 22rem;
}
.header--large {
  height: 44rem;
}
.header-hero__inner {
  padding-top: 4rem;
  .header--large & {
    padding-top: 8rem;
  }
}
.header-hero__title {
  text-shadow: 2px 2px 4px rgba(0,0,0,0.3);
  font-weight: 700;
}
.header-hero__subtitle {
  text-shadow: 2px 2px 4px rgba(0,0,0,0.3);
}
