.header-hero {
  color: $white;
  //background-size: cover;
  background-position: center bottom;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.header-hero__title {
  padding: 9rem 0;
}