.header-hero {
  color: $white;
  position: relative;
  background-position: center top;
  height: 44rem;
  background-attachment: fixed;
}
.header-hero__inner {
  padding-top: 8rem;
}
.header-hero__content {

}
.header-hero__title {

}