.sidebar-block {
  padding: 1rem;
  background-color: $light-gray;
  margin-bottom: 1rem;
}

.df-block {
  color: $dark-gray;
  margin: 2rem 0;
}
.df-block__icon {
  text-align: center;
}
.df-block__title {
  font-size: 1rem;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 2rem;
}
.sidebar-posts-list__item {
  margin: 1rem 0;
}