{{! Colors come from 00-colors.json }}
<div class="row">
	<div class="small-12 columns">
		<ul class="small-block-grid-4 large-block-grid-8 color-swatches">
			{{# colors}}
				<li>
					<span class="sg-swatch {{.}}"></span>
					<span class="sg-label">${{.}}</span>
				</li>
			{{/ colors}}
		</ul>
	</div>
</div>
