<div class="user user-avatar-small">
  <img src="{{ img_path(user.avatar.img.src, is_pl) }}" class="img-circle img-raised img-responsive user-avatar-small__img"/>
  <p class="user-avatar-small__name"><a href="{{ user.url }}">{{ user.name }}</a></p>
</div>
