<div class="comment {{#if tiny}}comment--tiny{{/if}}">
  <div class="comment__container">

    <div class="comment__left">
      <div class="comment__avatar" href="#">
        {{> avatar img=(lookup "users" "name" user "avatar") name=user}}
      </div>
    </div>

    <div class="comment__right">
      <div class="comment__information">
        <p>
          <span>{{timestamp}}</span>
        </p>
      </div>

      {{#if tiny}}
        <div class="comment__teaser">
          <a href="#">{{{excerpt}}}...</a>
        </div>
      {{else}}
        <div class="comment__body">
          {{{body}}}
        </div>
      {{/if}}

      {{#unless tiny}}
        <div class="comment__controls">
          <ul class="menu">
            <li><a href="#"><i aria-hidden="true" class="fi-chat"></i>Reply</a></li>
            <li><a href="#"><i aria-hidden="true" class="fi-pencil"></i>Edit</a></li>
            <li><a href="#"><i aria-hidden="true" class="fi-trash"></i>Delete</a></li>
          </ul>
        </div>
      {{/unless}}
    </div>
  </div>

  {{#unless tiny }}
    <div class="indented clearfix">
      {{#each replies}}
        {{> comment}}
      {{/each}}
    </div>
  {{/unless}}
</div>