<div class="df-block sidebar-block">
  <div class="df-block__icon">
    <i class="fi-{{icon}} iconic-md"></i>
  </div>
  <h3 class="df-block__title sidebar-block__title">{{title}}</h3>
  <div class="df-block__content">
    <ul class="sidebar-posts-list">
      {{#each posts}}
        <li class="sidebar-posts-list__item">
          {{> post tiny="true"}}
        </li>
      {{/each}}
    </ul>
  </div>
</div>
