<div class="sidebar-block">
  <div class="sidebar-block__title-icon text-center">
    <i class="fi-{{icon}} iconic-md"></i>
  </div>
  <h3 class="sidebar-block__title text-center">{{title}}</h3>
  <div class="sidebar-block__content">
    <ul class="sidebar-list no-bullet">
      {{#each comments}}
        <li class="sidebar-list__item">
          {{> comment tiny="true"}}
        </li>
      {{/each}}
    </ul>
  </div>
</div>