<div class="sidebar-block secondary callout">
  <h5 class="sidebar-block__title text-center">Sidebar block</h5>
  <div class="sidebar-block__inner">
    <ul>
      <li>Thing 1</li>
      <li>Thing 2</li>
      <li>Thing 3</li>
      <li>Thing 4</li>
      <li>Thing 5</li>
    </ul>
  </div>
</div>