<div class="sidebar-block">
  <div class="sidebar-block__title-icon">
    <i class="fi-{{icon}} iconic-md"></i>
  </div>
  <div class="sidebar-block__title">{{title}}</div>
  <div class="sidebar-block__content">
    <div class="row small-up-2 collapse">
      <div class="column">{{> post-thumbnail image-300x300="kill-1-thumb.png" title="First kill of herp derp!"}}</div>
      <div class="column">{{> post-thumbnail image-300x300="kill-2-thumb.png" title="Here we go again!"}}</div>
      <div class="column">{{> post-thumbnail image-300x300="kill-4-thumb.png" title="Moar dragons."}}</div>
      <div class="column">{{> post-thumbnail image-300x300="kill-1-thumb.png" title="Standing in fire."}}</div>
      <div class="column">{{> post-thumbnail image-300x300="kill-2-thumb.png" title="Standing in fire."}}</div>
      <div class="column">{{> post-thumbnail image-300x300="kill-4-thumb.png" title="Standing in fire."}}</div>
    </div>
  </div>
</div>