<div class="dropdown">
  <button href="#pablo" class="dropdown-toggle btn btn-primary btn-simple button-lineup-tabs" data-toggle="dropdown">Filters <b class="caret"></b>
  </button>
  <ul class="dropdown-menu dropdown-menu-right">
    <li class="dropdown-header">Dropdown header</li>
    <li><a href="#">Action</a></li>
    <li><a href="#">Another action</a></li>
    <li><a href="#">Something else here</a></li>
    <li class="divider"></li>
    <li><a href="#">Separated link</a></li>
    <li class="divider"></li>
    <li><a href="#">One more separated link</a></li>
  </ul>
</div>
